@page
@model PaulBejinariu_Project.Pages.Books.IndexModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].LinkToShop)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Book[0].IsRead)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Book) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LinkToShop)
            </td>
            <td>
                <input type="checkbox" onchange="handleCheckbox(this)" data-id="@item.Id" @(item.IsRead ? "checked" : "")>
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
function handleCheckbox(checkbox) {
    var id = checkbox.getAttribute("data-id");
    var isChecked = checkbox.checked;

    // Send a fetch request to the server to handle the add or remove action
    fetch("/BooksReads/Index?handler=" + (isChecked ? "Add" : "Remove") + "&id=" + id, { method: "POST" })
        .then(function (response) {
            if (!response.ok) {
                throw new Error("Error while handling checkbox: " + response.statusText);
            }
            return response.json();
        })
        .then(function (data) {
            if(data.success){
              checkbox.checked = isChecked;
            }else {
              throw new Error("Error while handling checkbox");
            }
        });
}
</script>